/* Анулювання стилів */
*{
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active{
    outline: none;
}
a:focus, a:active{
    outline: none;
}

nav, footer, header, aside{
    display: block;
}

html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; margin: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1, h2, h3, h4, h5, h6{font-size:inherit; font-weight: 400;}

/* -------------------- */

header{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    letter-spacing: .15em;
    width: 100%;
    height: fit-content;
    background-color: #1c1c1c;
    color: white;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding-left: 2em;
    padding-right: 4em;
    position: fixed;
    z-index: 1000;
}
header a{
    color: white;
}
header a:visited{
    color: white;
}
header a:hover{
    text-decoration: underline 0.2em;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    padding: 2em 3em;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo-container h1{
    margin-left: 1em;
}
.hover_black:hover{
    background-color: #1c1c1c;
    color: white;
    cursor:pointer
}
.transition{
    transition: ease-in-out .2s;
}
.section_container{
    padding-top: 15vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Noto Serif", serif;
    font-weight: 400; 
    font-size: 1.5em;
}
.introduction{
    max-height: 90vh;
    display: flex;
}
.introduction h2{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}
.introduction img{
    width: 100%;
}
.description, .table_container, aside{
    margin: 2em 3em;
}
.description{
    text-align: justify;
    text-indent: 2em;
    line-height: 1.2;
}
.description p{
    margin-bottom: 0.7em;
    border: solid 0.2em;
    border-radius: .5em;
    padding: .5em;
    box-shadow: .4em .4em 2px rgba(0,0,0,0.45);
}
.description ul{
    margin: 0 3em;
    text-indent: 1em;
}
.description ul li{
    list-style: outside;
}

.table_container table{
    width: 100%;
}
.table_container table th{
    background-color: #363636;
    color: white;
    padding: .5em;
    border: solid 0.2em #363636;
    border-radius: .3em;
}
.table_container table td{
    padding: .5em;
    border: solid 0.1em #363636;
    border-radius: .3em;
}


.table_container + aside ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}
.table_container + aside ul a{
    border: solid 0.2em hsl(0, 100%, 0%);
    padding: .5em;
    border-radius: .5em;
    display: inline-block;
    min-width: 10em;
    text-align: center;
}
.table_container h3::after{
    content: "C#";
}
#main_section h3{
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 1.5em;
    text-align: center;
}
aside a:visited{
    color: #000;
}
.scientific_themes_container{
    display: flex;
    flex-flow: row nowrap;
    overflow-x: hidden;
    padding-bottom: 4em;
    overflow-y: hidden;
}

#scientific_themes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2em;
}
#scientific_themes h2{
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}
.theme_item{
    height: 80vh;
    min-width: 60vh;
    display: flex;
    flex-direction: column;
    /* padding:2em; */
    border: solid 0.2em #000;
    border-radius: .5em;
    box-shadow: .4em .4em 2px rgba(0,0,0,0.45);
    margin-left: 3em;
    margin-top: 2em;
    padding: 2em;
    padding-bottom: 0px;
    
    justify-content: space-between;
    
}
.theme_item .theme_item_data{
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 100%;
}
.more_item{
    display: block;
    width: 100%;
    text-align: center;
    position: sticky;
    justify-self: end;
    width: 100%;
    align-self: center;
    z-index: 100;
}
.more_item p{
    padding: 0.5em 2em;
    background-color: #1c1c1c;
    color: white;
    border-radius: .5em .5em 0 0;
}
.more_item p:hover{
    background-color: #363636;
}
.theme_item:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.theme_item img{
    height: 50vh;
    transition: opacity 0.3s ease-in-out; /*new*/
}
.theme_item h3{
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    margin-top: 0.3em;
    /* transition: 0.4s ease; */
}
.theme_item .info-container{
    flex-direction: column;
    min-height: 50%;
    display: flex;
    justify-content: space-around;
    overflow-y: hidden;
    transition: transform 0.5s ease; /*new*/
}
.theme_item .info-container ul{
    margin: 1em 0 0 1em;
    display: flex;
    flex-flow: column;
}
.theme_item ul li{
    font-size: 1em;
    line-height: 1.2;
    list-style: outside;
}
.theme_item p{
    margin-top: 0.5em;
}

#feedback{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2em;
    align-items: center;
}
#feedback h2{
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 1.5em;
    text-align: center;
}
#feedback form{
    display: grid;
    grid-template: repeat(4, auto) 2fr 1fr 1fr / repeat(4,1fr);
    width: 50vw;
    border: solid 0.2em #000;
    border-radius: .5em;
    padding: 1em 2em;
}
.input_container{
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
    justify-self: stretch;
    align-content: center;
}
.input_container>label{
    margin-bottom: 0.5em;
}
.input_container input{
    padding: .5em;
    border: solid 0.1em #000;
    border-radius: .2em;
}
.input_container.surname{
    grid-column: 1/span 2;
    grid-row: 1;
    margin-right: 1em;
}
.input_container.name{
    grid-column: 3/span 2;
    margin-left: 1em;
}
.input_container.email{
    grid-column: 1/span 2;
    margin-right: 1em;
}
.input_container.age{
    grid-column: 3/span 2;
    margin-left: 1em;
}
.input_container.learning{
    grid-column: 1/span 4;
}
.input_container.learning>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.input_container.learning .radio_container{
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-left: 0.5em;
}

.input_container.learning .radio_container label{
    margin-left: 0.5em;
    border: solid 0.1em #000;
    border-radius: .2em;
    padding: 0.5em;
    align-content: center;
    text-align: center;
}
.input_container.learning .radio_container:nth-child(2){
    flex-shrink: 0;
}
.input_container.purpose{
    grid-column: 1/span 4;
}
.input_container.purpose select{
    font-family: "Noto Serif", serif;
    font-weight: 400; 
    font-size: 1em;
    padding: .5em;
    border: solid 0.1em #000;
    border-radius: .2em;
}

.input_container.detail_message{
    grid-column: 1/span 4;
}
.input_container.detail_message textarea{
    padding: .5em;
    border: solid 0.1em #000;
    border-radius: .2em;
    height: 100%
}
[class$='consent'] {
    grid-column: 1/span 4;
}
[class~='submit_button']{
    grid-column: 2/span 2;
    padding: .5em;
    border: solid 0.1em #000;
    border-radius: .5em;
    background-color: white;
    color: black;
    font-size: 1.1em;
    font-weight: 700;
    transition: ease-in-out .2s;
}
footer{
    margin-top: 2em;
    background: linear-gradient(90deg, #1c1c1c 0%, #363636 100%); font-size: 1.1em;
    color: white;
    padding: 1em;
    font-family: "Lato", sans-serif;
    font-weight: 400;   
}
footer>div{
    margin-left: 0.5em;
}
footer>div *{
    margin: 0.5em 0;
}
footer h3{
    font-weight: 700;
    font-size: 1.5em;
}
.hover_underlined:hover{
    text-decoration: underline 0.1em rgba(255, 255, 255, 0.7);
}

.modalOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}
.focusModal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 2em;
    width: 40vw;
    background-color: white;
    font-family: "Noto Serif", serif;
    font-weight: 400;
    font-size: 1.5em;
    border: solid 0.2em #000;
    border-radius: .5em;
    
}
.focusModal .modal-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.focusModal .modal-body h2{
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 1em;
    text-align: center;
}
.focusModal .modal-body ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2em;
}
.focusModal .modal-body ul li{
    margin: 0.2em 0;
    list-style: outside;
}
.focusModal .modal-body button{
    padding: .5em;
    border: solid 0.1em #000;
    border-radius: .5em;
    font-size: 1.1em;
    font-weight: 700;
    transition: ease-in-out .2s;
    width: fit-content;
    align-self: center;
    background-color: white;
}
.focusModal .modal-body button:hover{
    background-color: black;
    color: white;
}

